*{
  padding:0px;
  margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body {
  font-family: roboto; 
  background: url(imgFale_Conosco/fotoFundo.jpg);
  background-image: 10%
}

ul{
  list-style: none;
}

input[type="checkbox"]
{
    display: none;
}

#logo{
	margin-top: 15px;
	margin-left: -10px;
}

#icon{
  color: #F0F8FF;
  font-family: roboto; 
}


nav{
	background-color: rgba(0,0,0,0.8);
	width: 250px;
	height: 111%;
	left: -250px;
	position: absolute;
	transition: all.5s;
}


input[type="checkbox"]:checked ~ nav
{
  transform: translateX(250px);
  position: fixed(0px);
}

ul{
  top: 170px;
  position: absolute;
  width: 100%;
}

a{
	display: block;
	padding: 11.5px 45px;
	color: white;
}

a:hover{
	color: #A7B802 ;
}

label{
  padding:0.5px 40px;
  position: absolute;
  z-index: 1;
}

div{ 
  border : 0px;
}

input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 0px;
}
select {
  width: 15%;
  height: 16.5%;
  padding: 16px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}
fieldset{
  margin-left: 46px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 4px;
}
legend{
  margin-left: 40px;
}

h2{
  margin-top: 21px;
}

h3{
  margin-left: 60px;
}

#date{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 0px 12px 10px;
  border-radius: 4px;
  margin-left: 40px;
}

#entrada{
  font-size: 16px;
  padding: 2px 5px 12px 50px;
}

.linha1{
  margin-left: 40px;
}

#principal {
	width : 1270px;
	margin:0px auto;
	border:none;
}

#resort{
    border-radius: 50%;  
    width:15%; 
    height:60%; 
}

#menu {
	height: 555px;
	margin-bottom:4px;
}

#conteudo {
	height:530px;
}

.opcao{
  margin-left: 40px;
  margin-bottom: 30px;
}

#quarto{
  font-size: 14px;
}

#adulto{
  margin-left: 20px;
}

#crianca{
  margin-left: 20px;
}

#nome{
  padding: 12px 19px 14px 22px; 
  font-size: 18px;
}

#tel{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 0px 14px 20px; 
  border-radius: 4px;
  margin-left: 120px;
  background-color: white;
  font-size: 18px;
}

#email{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 19px 14px 22px; 
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
}

#reset{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 11px 50px 13px 50px;
  border-radius: 4px;
  background-color: white;
  margin-left: 178px;
  font-size: 18px;
}

#radio{
  font-size: 18px;
  margin-right: 2px;
  margin-left: 130px;
}

#textarea{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 9px 28px 12px 24px;
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
}

#enviar{
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 9px 28px 12px 28px;
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
  margin: center;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 100px;
}

#rodape {
  margin-bottom: 1px;   
}

h4{
  color: #4F94CD;
  margin-left: 32%;
}
